div.a {
  position: relative;
  left: 50px;
  width: 500px;
  height: 250px;
  border-radius: 10px;
  border: 2px solid red;
  text-align: center;
  font-size: 70px;
}
span {
  display: block;
  position: static;
  width: 600px;
  height: 250px;
  border-radius: 20px;
  border: 2px solid blue;
  text-align: center;
  font-size: 70px;
     }
div.relative {
  position: fixed;
  width: 1000px;
  height: 200px;
  border: 2px solid green;
  text-align: left;
  font-size: 30px;

     }
     div.absolute {
      position: absolute;
      top: 25px;
      right: 10px;
      width: 400px;
      height: 150px;
      border: 1px solid red;
    }